* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    padding: 50px 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title .header__m-text {
    color: darkgray;
}

.header__menu {
    display: flex;
}

.gray-font{
    color: gray;
}

.header__menu div {
    margin-right: 5px;
}

main {
    padding: 50px 20px 0 20px;
}

.main__sec1 .main__image {
    width: 100%;
    height: 300px;
    position: relative;
    background-image: url("../images/main.jpg");
    background-size: cover;
    background-position: 50%;
    border-radius: 10px;
}

.rounder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    left: 90%;
    top: 10%;
}

.main__icon i{
    font-size: 28px;
    color: red;
}

.main__bar {
    padding: 8px 20px 0 20px;
    position: relative;
    width: 90%;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 1px 1px rgb(184, 176, 176);
    top: -50px;
    left: 5%;
}

.main__bar .menu__l-text {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main__bar .menu__s-text {
    font-size: 15px;
    color: gray;
    margin-bottom: 15px;
}

.main__bar .menu__infos {
    margin-top:10px;
    display: flex;
    justify-content: space-around;
}

.main__bar .menu__infos div {
    color: gray;
    display: flex;
    align-content: center;
}

.main__bar .menu__infos div:hover {
    color: black;
    cursor: pointer;
}

.sec2__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec2__imgs {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.sec2__imgs div {
    width: 20%;
}

.sec2__imgs img {
    width: 100%;
    border-radius: 10px;
}

.sec2__imgs .sec2__subtitle {
    font-size: 11px;
    font-weight: 700;
}

.sec2__imgs .sec2__text {
    color: silver;
    font-size: 11px;
}